body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  border: goldenrod 2px solid;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

.surahDetails {
  display: block;
  padding: 20px;
  margin-bottom: 20px; 
  border: 2px solid goldenrod;
  color: #ffff;
}

ul {
  list-style-type: none;
}

.surahName {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../surahName.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  height: 100px;
  width: 400px;
  color: #ffff; 
  font-size: 1.5em; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(201, 189, 189, 0.9); 
}

.surahDetails{
  display: list-item;
  padding: 40px;
  margin: auto;
  justify-content:space-around;
  border: goldenrod 2px solid;
  height: 100px;
  width: 300px;
  color: #ffff; 
}

b {
  font-size: 1.2em;
}


:root {
  --blue: #0173ff;
  --radius: 50px;
  --border-color: goldenrod;
}


button {
  padding: 20px 30px;
  border-radius: var(--radius);
  background: var(--white);
  color: white;
  font-weight: 500;
  font-size: 20px;
  border: 4px solid var(--border-color); 
  position: relative;
  cursor: pointer;
  outline: none;
  z-index: 1; 
  transition: border-width 0.5s ease, border-color 0.5s ease; 
}

button:hover {
  border-width: 10px; 
  border-color: red; 
}


button::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 2px solid var(--border-color); 
  border-radius: var(--radius);
  z-index: 0; 
  animation: move-border 4s linear infinite; 
}


@keyframes move-border {
  0% {
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
  }
  25% {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
  50% {
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
  }
  75% {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
  100% {
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
  }
}
